<html>

<head>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="index.js"></script>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="main">
    <header> LGPD+</header>
    <div class="content">
      <table>
        <thead>
          <th v-for="item of fields">{{item.title}}</th>
        </thead>
        <tbody>
          <tr v-for="item in items">
            <td v-for="entry of fields">
              <input v-if="!(entry.check || entry.combo)" v-model="item[entry.key]" v-bind:placeholder="entry.title"
                type="text">
              <dropdown v-if="entry.check" v-bind:items="entry.check" v-bind:value="item.whoHasAccess"></dropdown>
              <select v-if="entry.combo" v-model="item[entry.key]">
                <option v-for="option of entry.combo" v-bind:value="option.key">{{option.title}}</option>
              </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <footer>
      <button v-on:click="generateReport">Gerar Relatório</button>
      <button v-on:click="addEntry">Adicionar Campo</button>
    </footer>
  </div>
</body>

</html>